# StructureOceanMonument - WATER_BIOMES
public-f net.minecraft.world.gen.structure.StructureOceanMonument field_175802_d

# StructureOceanMonument - SPAWN_BIOMES
public-f net.minecraft.world.gen.structure.StructureOceanMonument field_186134_b

# WoodlandMansion - ALLOWED_BIOMES
public-f net.minecraft.world.gen.structure.WoodlandMansion field_191072_a

# MapGenScatteredFeature - ALLOWED_BIOMES
public-f net.minecraft.world.gen.structure.MapGenScatteredFeature field_75061_e

# GuiCreateWorld - selectedIndex
public net.minecraft.client.gui.GuiCreateWorld field_146331_K

# ChunkGeneratorHell - rand
public net.minecraft.world.gen.ChunkGeneratorHell field_185954_p

# GuiLabel - labels
public net.minecraft.client.gui.GuiLabel field_146173_k

# MinecraftServer - setUserMessage
public net.minecraft.server.MinecraftServer func_71192_d(Ljava/lang/String;)V

# WorldServer - createBonusChest
public net.minecraft.world.WorldServer func_73047_i()V

# GuiCreateWorld - worldSeed
public net.minecraft.client.gui.GuiCreateWorld field_146329_I

# WorldInfo - generatorOptions
public net.minecraft.world.storage.WorldInfo field_82576_c

# GuiLabel - width
public net.minecraft.client.gui.GuiLabel field_146167_a

# GuiLabel - height
public net.minecraft.client.gui.GuiLabel field_146161_f

# GuiPageButtonList - responder
protected net.minecraft.client.gui.GuiPageButtonList field_178076_z

# GuiPageButtonList - pages
protected net.minecraft.client.gui.GuiPageButtonList field_178078_x

# GuiPageButtonList - entries
protected net.minecraft.client.gui.GuiPageButtonList field_178074_u

# GuiPageButtonList - componentMap
protected net.minecraft.client.gui.GuiPageButtonList field_178073_v

# GuiPageButtonList - editBoxes
protected net.minecraft.client.gui.GuiPageButtonList field_178072_w

# GuiPageButtonList - populateComponents
protected net.minecraft.client.gui.GuiPageButtonList func_178069_s()V

# GuiPageButton - populateEntries
protected net.minecraft.client.gui.GuiPageButtonList func_178055_t()V

# GuiPageButtonList - createEntry
protected net.minecraft.client.gui.GuiPageButtonList func_178058_a(Lnet/minecraft/client/gui/GuiPageButtonList$GuiListEntry;IZ)Lnet/minecraft/client/gui/Gui;

# GuiPageButtonList - createButton
protected net.minecraft.client.gui.GuiPageButtonList func_178065_a(IILnet/minecraft/client/gui/GuiPageButtonList$GuiButtonEntry;)Lnet/minecraft/client/gui/GuiListButton;

# GuiPageButtonList - createSlider
protected net.minecraft.client.gui.GuiPageButtonList func_178067_a(IILnet/minecraft/client/gui/GuiPageButtonList$GuiSlideEntry;)Lnet/minecraft/client/gui/GuiSlider;

# GuiPageButtonList - createTextField
protected net.minecraft.client.gui.GuiPageButtonList func_178068_a(IILnet/minecraft/client/gui/GuiPageButtonList$EditBoxEntry;)Lnet/minecraft/client/gui/GuiTextField;

# GuiPageButtonList - createLabel
protected net.minecraft.client.gui.GuiPageButtonList func_178063_a(IILnet/minecraft/client/gui/GuiPageButtonList$GuiLabelEntry;Z)Lnet/minecraft/client/gui/GuiLabel;

## BoP Access Transformers

# GuiCreateWorld - selectedIndex
public net.minecraft.client.gui.GuiCreateWorld field_146331_K

# GuiMainMenu - titlePanoramaPaths
public-f net.minecraft.client.gui.GuiMainMenu field_73978_o

# SoundEvent - registerSound
public net.minecraft.util.SoundEvent func_187502_a(Ljava/lang/String;)V

# WorldType - setNotificationData
public net.minecraft.world.WorldType func_151358_j()Lnet/minecraft/world/WorldType;

# ItemAxe - ATTACK_DAMAGES
public-f net.minecraft.item.ItemAxe field_185066_m

# ItemAxe - ATTACK_SPEEDS
public-f net.minecraft.item.ItemAxe field_185067_n

# BiomeProvider - genBiomes
protected net.minecraft.world.biome.BiomeProvider field_76944_d

# BiomeProvider - biomeIndexLayer
protected net.minecraft.world.biome.BiomeProvider field_76945_e

# WorldGenMinable - *
public-f net.minecraft.world.gen.feature.WorldGenMinable *

# WoodlandMansion - ALLOWED_BIOMES
public-f net.minecraft.world.gen.structure.WoodlandMansion field_191072_a

# Biome - getBaseHeight
public-f net.minecraft.world.biome.Biome func_185355_j()F

# Biome - getHeightVariation
public-f net.minecraft.world.biome.Biome func_185360_m()F

# ShapedRecipes
public net.minecraft.item.crafting.ShapedRecipes func_192402_a([Ljava/lang/String;Ljava/util/Map;II)Lnet/minecraft/util/NonNullList;

## Future MC Acess Transformers

# lookHelper
public-f net.minecraft.entity.EntityLiving field_70749_g

# PARTICLES
public net.minecraft.util.EnumParticleTypes field_179365_U

# BY_NAME
public net.minecraft.util.EnumParticleTypes field_186837_Z

# eventListeners
public net.minecraft.world.World field_73021_x

# isAreaLoaded
public net.minecraft.world.World func_175663_a(IIIIIIZ)Z

# strongholdGenerator
public net.minecraft.world.gen.ChunkGeneratorOverworld field_186004_w

# structureGenerators
public net.minecraft.world.gen.ChunkGeneratorFlat field_82696_f

# distance
public net.minecraft.world.gen.structure.MapGenStronghold field_82671_h

# structureCoords
public net.minecraft.world.gen.structure.MapGenStronghold field_75057_g

# searchForOtherItemsNearby
public net.minecraft.entity.item.EntityItem func_85054_d()V

# age
public net.minecraft.entity.item.EntityItem field_70292_b

# pickupDelay
public net.minecraft.entity.item.EntityItem field_145804_b

# pistonDeltas
public net.minecraft.entity.Entity field_191505_aI

# pistonDeltasGameTime
public net.minecraft.entity.Entity field_191506_aJ

# stackList
public net.minecraft.inventory.InventoryCrafting field_70466_a

# inLove
public net.minecraft.entity.passive.EntityAnimal field_70881_d

# getRandPos
public net.minecraft.entity.ai.EntityAIPanic func_188497_a(Lnet/minecraft/world/World;Lnet/minecraft/entity/Entity;II)Lnet/minecraft/util/math/BlockPos;

# chance
public net.minecraft.entity.ai.EntityAIWatchClosest field_75331_e

# world
public net.minecraft.inventory.ContainerMerchant field_75177_g

# activeItemStack
public net.minecraft.entity.EntityLivingBase field_184627_bm

# worldBorder
public net.minecraft.world.World field_175728_M

# Trident / Piercing Arrows
public net.minecraft.entity.projectile.EntityArrow field_145789_f
public net.minecraft.entity.projectile.EntityArrow field_145790_g
public net.minecraft.entity.projectile.EntityArrow field_145791_d
public net.minecraft.entity.projectile.EntityArrow field_145792_e
public net.minecraft.entity.projectile.EntityArrow field_70254_i
public net.minecraft.entity.projectile.EntityArrow field_70252_j
public net.minecraft.entity.projectile.EntityArrow field_70253_h
public net.minecraft.entity.projectile.EntityArrow field_70257_an
public net.minecraft.entity.projectile.EntityArrow field_70255_ao
public net.minecraft.entity.projectile.EntityArrow field_70256_ap

# fire
public net.minecraft.entity.Entity field_190534_ay

# Netherite Armor
protected net.minecraft.item.ItemArmor field_185084_n# ARMOR_MODIFIERS

# Villager trade gui
# careerLevel
public net.minecraft.entity.passive.EntityVillager field_175562_bw

# merchant
public net.minecraft.inventory.ContainerMerchant field_75178_e

# draggedStack
public net.minecraft.client.gui.inventory.GuiContainer field_147012_x

# isRightMouseClick
public net.minecraft.client.gui.inventory.GuiContainer field_147004_w

# dragSplittingRemnant
public net.minecraft.client.gui.inventory.GuiContainer field_146996_I

# drawItemStack
public net.minecraft.client.gui.inventory.GuiContainer func_146982_a(Lnet/minecraft/item/ItemStack;IILjava/lang/String;)V

# returningStack
public net.minecraft.client.gui.inventory.GuiContainer field_146991_C

# returningStackTime
public net.minecraft.client.gui.inventory.GuiContainer field_146990_B

# returningStackDestSlot
public net.minecraft.client.gui.inventory.GuiContainer field_146989_A

# touchUpX
public net.minecraft.client.gui.inventory.GuiContainer field_147011_y

# touchUpY
public net.minecraft.client.gui.inventory.GuiContainer field_147010_z

# hoveredSlot
public net.minecraft.client.gui.inventory.GuiContainer field_147006_u

# drawSlot
public net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V

# isMouseOverSlot
public net.minecraft.client.gui.inventory.GuiContainer func_146981_a(Lnet/minecraft/inventory/Slot;II)Z

### Nether API Access Transformers

## Classes

public net.minecraft.client.renderer.GlStateManager$Color
public net.minecraft.world.biome.BiomeColorHelper$ColorResolver

## Fields

# currentMusic
public net.minecraft.client.audio.MusicTicker field_147678_c

# tintIndex
public-f net.minecraft.client.renderer.block.model.BakedQuad field_178213_b

# biomeCache
public net.minecraft.world.biome.BiomeProvider field_76942_f

# biomeIndexLayer
public net.minecraft.world.biome.BiomeProvider field_76945_e

# biomesToSpawnIn
public-f net.minecraft.world.biome.BiomeProvider field_76943_g

# genBiomes
public net.minecraft.world.biome.BiomeProvider field_76944_d

# dragonKilled
public net.minecraft.world.end.DragonFightManager field_186117_k

# dragonUniqueId
public net.minecraft.world.end.DragonFightManager field_186119_m

# exitPortalLocation
public net.minecraft.world.end.DragonFightManager field_186121_o

# previouslyKilled
public net.minecraft.world.end.DragonFightManager field_186118_l

# scanForLegacyFight
public net.minecraft.world.end.DragonFightManager field_186120_n

# entities
public net.minecraft.world.gen.structure.template.Template field_186271_b

# biomesForGeneration
public net.minecraft.world.gen.ChunkGeneratorEnd field_73231_z

# buffer
public net.minecraft.world.gen.ChunkGeneratorEnd field_185974_p

# endCityGen
public net.minecraft.world.gen.ChunkGeneratorEnd field_185972_n

# endIslands
public net.minecraft.world.gen.ChunkGeneratorEnd field_185975_r

# islandNoise
public net.minecraft.world.gen.ChunkGeneratorEnd field_185973_o

# lperlinNoise1
public net.minecraft.world.gen.ChunkGeneratorEnd field_185969_i

# lperlinNoise2
public net.minecraft.world.gen.ChunkGeneratorEnd field_185970_j

# mapFeaturesEnabled
public net.minecraft.world.gen.ChunkGeneratorEnd field_73229_q

# perlinNoise1
public net.minecraft.world.gen.ChunkGeneratorEnd field_185971_k

# rand
public net.minecraft.world.gen.ChunkGeneratorEnd field_73220_k

# spawnPoint
public net.minecraft.world.gen.ChunkGeneratorEnd field_191061_n

# world
public net.minecraft.world.gen.ChunkGeneratorEnd field_73230_p

# brownMushroomFeature
public net.minecraft.world.gen.ChunkGeneratorHell field_177471_z

# buffer
public net.minecraft.world.gen.ChunkGeneratorHell field_185956_t

# depthBuffer
public net.minecraft.world.gen.ChunkGeneratorHell field_185955_s

# fireFeature
public net.minecraft.world.gen.ChunkGeneratorHell field_177470_t

# generateStructures
public net.minecraft.world.gen.ChunkGeneratorHell field_185953_o

# genNetherBridge
public net.minecraft.world.gen.ChunkGeneratorHell field_73172_c

# genNetherCaves
public net.minecraft.world.gen.ChunkGeneratorHell field_185939_I

# gravelNoise
public net.minecraft.world.gen.ChunkGeneratorHell field_73184_r

# hellPortalGen
public net.minecraft.world.gen.ChunkGeneratorHell field_177468_v

# hellSpringGen
public net.minecraft.world.gen.ChunkGeneratorHell field_177472_y

# lavaTrapGen
public net.minecraft.world.gen.ChunkGeneratorHell field_177473_x

# lightGemGen
public net.minecraft.world.gen.ChunkGeneratorHell field_177469_u

# magmaGen
public-f net.minecraft.world.gen.ChunkGeneratorHell field_189888_D

# netherrackExculsivityNoiseGen
public net.minecraft.world.gen.ChunkGeneratorHell field_73174_n

# quartzGen
public net.minecraft.world.gen.ChunkGeneratorHell field_177467_w

# rand
public net.minecraft.world.gen.ChunkGeneratorHell field_185954_p

# redMushroomFeature
public net.minecraft.world.gen.ChunkGeneratorHell field_177465_A

# slowsandGravelNoiseGen
public net.minecraft.world.gen.ChunkGeneratorHell field_73177_m

# slowsandNoise
public net.minecraft.world.gen.ChunkGeneratorHell field_73185_q

# world
public net.minecraft.world.gen.ChunkGeneratorHell field_185952_n

# clazz
public-f net.minecraft.world.DimensionType field_186077_g

# dragonFightManager
public net.minecraft.world.WorldProviderEnd field_186064_g

## Methods

# colorState
public net.minecraft.client.renderer.GlStateManager field_179170_t

# renderSkyEnd
public net.minecraft.client.renderer.RenderGlobal func_180448_r()V

# spawnParticle
public net.minecraft.client.renderer.RenderGlobal func_174972_a(Lnet/minecraft/util/EnumParticleTypes;DDDDDD[I)V

# getColorAtPos
public net.minecraft.world.biome.BiomeColorHelper func_180285_a(Lnet/minecraft/world/IBlockAccess;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/world/biome/BiomeColorHelper$ColorResolver;)I

# genStandardOre1
public net.minecraft.world.biome.BiomeDecorator func_76795_a(Lnet/minecraft/world/World;Ljava/util/Random;ILnet/minecraft/world/gen/feature/WorldGenerator;II)V

# generateGateway
public net.minecraft.world.end.DragonFightManager func_186089_a(Lnet/minecraft/util/math/BlockPos;)V

# generatePortal
public net.minecraft.world.end.DragonFightManager func_186094_a(Z)V\

# spawnNewGateway
public net.minecraft.world.end.DragonFightManager func_186097_l()V

# getHeights
public net.minecraft.world.gen.ChunkGeneratorEnd func_185963_a([DIIIIII)[D

# getIslandHeightValue
public net.minecraft.world.gen.ChunkGeneratorEnd func_185960_a(IIII)F

# getHeights
public net.minecraft.world.gen.ChunkGeneratorHell func_185938_a([DIIIIII)[D